body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.calcualator {
  width: 100vw;
  height: 100vh;
  background-color: #333333;
  display: flex;
  align-items: center;
  justify-content: center;
}

.cal-1 {
  width: 350px;
  height: 600px;
  color: white;
  border-radius: 20px;
  background-color: #000;
  text-align: center;
}

#cal{
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  font-size: 40px;

  
}

#inputBox{
  width: 280px;
  height: 50px;
  border-radius: 10px;
  color: white;
  font-size: 25px;
  text-align: right;
  background-color: #505050;
  padding-right: 10px;
  border: none;
  outline: none;
}
.button{
  
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: -27px;
  
}

.button button{
  width: 50px;
  height: 50px;
  cursor: pointer;
  border: none;
  font-size: 17px;
  border-radius: 50%;
  margin-left: 30px;
  color: white;
  margin-top: 25px;
  background-color: #505050;
}

.button .ac{
  background-color: #a5a5a5;
}

.button .or{
  
  background-color: #ff9500;
}

.button .eq{
  width: 130px ;
  height: 50px;
  border-radius: 20px;
}